*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    max-width: 400px;
    text-align: center;
    margin: 0px auto;
}
header{
    color: red;
}

img{
    width: 100%;
}

@media (width>=1000px){
    body{max-width: 800px;}
}